html {
	height:100%;
}

body, .container {
	min-height: 100%;
}

.item a {
	text-decoration: none;
	color:black;
}

.item:hover a h5 {
	color:#1EAEDB;
}

.item img {
	margin:-1px;
	border: 1px solid transparent;
}

.item:hover img {
	border: 1px solid #1EAEDB;
}

.footer {
  text-align: center;
  margin-bottom:5%;
}

.footer a {
	text-decoration: none;
	color:#000;
	white-space:nowrap;
}

.footer a:hover {
	text-decoration: none;
	color:#555;
}

.footer a:not(:last-child) {
	margin-right:30px;
}