/* GENERAL */
html {
	height:100%;
}

body, .container {
	min-height: 100%;
}

/* MENU */
.menu {
	text-align: center;
}

hr.abovemenu {
	margin-bottom:1rem;
}

hr.belowmenu {
	margin-top:1rem;
}

.menu a {
	text-decoration: none;
	color:#000;
	font-size:1.8em;
	text-transform: uppercase;
}

.menu a.active {
	border-bottom:1px solid black;
}

.menu a:hover {
	color:#555;
}

/* ITEMS */
.item a {
	text-decoration: none;
	color:black;
}

.item:hover a h5 {
	color:#1EAEDB;
}

.item img {
	margin:-1px;
	border: 1px solid transparent;
}

.item:hover img {
	border: 1px solid #1EAEDB;
}

/* FOOTER */
.footer-container {
	text-align:center;
	margin-bottom:5%;
}

.footer {
	display:inline-block;
	margin:auto;
	text-align:left;
}

.footer a {
	text-decoration: none;
	color:#000;
	white-space:nowrap;
	display:block;
}

.footer a:hover {
	text-decoration: none;
	color:#555;
}

/* Larger than phablet */
@media (min-width: 550px) {
	.footer {
		text-align: center;
	}
	
	.footer a {
		display:initial;
		margin: 0 10px;
	}
}