html {
	height:100%;
}

body, .container {
	min-height: 100%;
}

.item a {
	text-decoration: none;
	color:black;
}

.item:hover a h5 {
	color:#1EAEDB;
}

.item img {
	margin:-1px;
	border: 1px solid transparent;
}

.item:hover img {
	border: 1px solid #1EAEDB;
}

.footer-container {
	text-align:center;
	margin-bottom:5%;
}

.footer {
	display:inline-block;
	margin:auto;
	text-align:left;
}

.footer a {
	text-decoration: none;
	color:#000;
	white-space:nowrap;
	display:block;
}

.footer a:hover {
	text-decoration: none;
	color:#555;
}

/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {
	.footer {
		text-align: center;
	}
	
	.footer a {
		display:initial;
		margin: 0 10px;
	}
}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
