html {
    background-image: url("backgroundPattern.png");
	background-size: 700px;
	background-position: center;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    display: block;
	margin:auto;
}