html {
    background-image: url("backgroundPattern.png");
	background-size: 30%;
}

body {
	margin-top:0;
	margin-bottom:0;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    display: block;
	margin:auto;
	overflow:hidden;
	margin-top:0;
	margin-bottom:0;
}

.clear {
    -webkit-transition : all 2s ease-out;
    -moz-transition : all 2s ease-out;
    -o-transition : all 2s ease-out;
    transition : all 2s ease-out;
}

.black {
	background-color:black;
}